.user{
    object-position: center;
        background: #c4c4c4;
        padding: 30px;
        text-align: center;
      }
    
      .user h3 {
        background-color: #676767;
        margin: 0;
        padding-top: 40px;
        text-align: center;
        font-size: 3.5rem;
        height: 160px;
      }
    

      .info {
        background: #c4c4c4;
      }

      .info blockquote {
        font-size: 1.5rem;
        font-style: italic;
        border: 2px dotted #1a1a1a;
        line-height: 1.5;
      }

      img {
        border-radius: 25px;
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 5px;
        max-height: 150px; 
        object-fit: cover;
        width: 250px;
        height: 100%;
      }